ion-card {
  border: 2px cyan solid;
  border-radius: 20px;
}
ion-card-header {
  border-bottom: 2px solid black;
  padding-bottom: 12px;
}
ion-card-content {
  text-align: center;
  padding-top: 5px;
}
img {
  border-bottom: 2px solid burlywood;
}
#tcs {
  width: 300px;
  height: 200px;
}
